{% extends "navbar.html"%}


{% block title%}
gallery
{% endblock%}

{% block content%}
{%load static%}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col section-intro text-center">
                <h1 class="text2">Gallery</h1>
                <div class="newline"></div>
                  </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="works1">
                            <div class="icon-img">
                            <img src="{% static '/images/r1.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                            </div>
                            <h5 class="text5 mt-3">kumarakam resorts</h5>
                            <h5 class="mt-2 pt-2"><b>$2000</b></h5>
                            
                            <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                           
                            
                          </div>
                          </div>
                          
                            <div class="col-md-3">
                              <div class="works1">
                                <div class="icon-img">
                               
                                <img src="{% static '/images/r2.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                  
                                </div>
                                <h5 class="text5 mt-3">villa resorts</h5>
                                <h5 class="mt-2 pt-2"><b>$2400</b></h5>
                                
                                <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                
                           
                              </div>
                              </div>
                              <div class="col-md-3">
                                <div class="works1">
                                  <div class="icon-img">
                                    
                                    <img src="{% static '/images/r3.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                    
                                  </div>
                                  <h5 class="text5 mt-3">palace resorts</h5>
                                  <h5 class="mt-2 pt-2"><b>$2700</b></h5>
                                  
                                  <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                
                           
                                </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="works1">
                                    <div class="icon-img">
                                        <img src="{% static '/images/r4.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                      
                                    </div>
                                    <h5 class="text5 mt-3">kanaka resorts</h5>
                                    <h5 class="mt-2 pt-2"><b>$2300</b></h5>
                                    
                                    <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                  
                              
                                  </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="works1">
                                      <div class="icon-img">
                                          <img src="{% static '/images/mod1.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                        
                                      </div>
                                      <h5 class="text5 mt-3">kumarakam resorts</h5>
                                      <h5 class="mt-2 pt-2"><b>$2100</b></h5>
                                      
                                      <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                    
                                
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="works1">
                                      <div class="icon-img">
                                          <img src="{% static '/images/mod2.jpg' %}" style="height:200px;width:200px;border-radius: 10px;"class="img1">
                                        
                                      </div>
                                      <h5 class="text5 mt-3">palace resorts</h5>
                                      <h5 class="mt-2 pt-2"><b>$2300</b></h5>
                                     
                                      <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                    
                                
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="works1">
                                      <div class="icon-img">
                                          <img src="{% static '/images/mod3.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                        
                                      </div>
                                      <h5 class="text5 mt-3">resorts villa house</h5>
                                      <h5 class="mt-2 pt-2"><b>$2200</b></h5>
                                      
                                      <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                    
                                
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="works1">
                                      <div class="icon-img">
                                          <img src="{% static '/images/mod4.jpg' %}" style="height:200px;width:200px;border-radius: 10px;" class="img1">
                                        
                                      </div>
                                      <h5 class="text5 mt-3">kumarakam resorts</h5>
                                      <h5 class="mt-2 pt-2"><b>$2500</b></h5>
                                      
                                      <a href="{% url 'booking' %}" class="btn btn-main mb-5" style="border-radius: 10px;border:none;color:#fff;">Book Now</a>
                                    
                                
                                    </div>
                                  </div>
                          </div>
                          
                        </div>
                      </div>
                </div>
          </div>
            
</section>
  
            
                 

{% endblock%}